$base_color: deeppink;
$yh: "微软雅黑","Microsoft yahei";
@import "sjm-mobile";
@import '../iconfont/iconfont.css';
@import '../sjm-iconfont/iconfont.css';
@import 'swiper-3.3.1.min.css';
body,
html {
    background: #f3eff0;
}
@mixin box ($box-sizing) {
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    -ms-box-sizing: $box-sizing;
    -o-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}
header {
    width: 100%;
    height: pxToRem(88);
    background: #ab0006;
    border-bottom: #db909a;
    text-align: center;
    line-height: pxToRem(88); //  -webkit-box-flex: 1;
    //  -webkit-box-flex-group: 1;
    img {
        display: inline-block;
        height: pxToRem(60);
        width: pxToRem(179);
        margin: pxToRem(14) auto;
    }
    .head-icon {
        font-size: pxToRem(40);
        color: #fff;
    }
    .icon-xiaoxi {
        float: left;
        margin-left: pxToRem(27);
    }
    .icon-gouwuche {
        float: right;
        margin-right: pxToRem(27);
    }
}
//滑动区域
section {
    width: 100%;
    .sousuo-wrap {
        width: 100%; //      background: #f2f2f2;
        height: pxToRem(76);
        padding: pxToRem(10) pxToRem(16);
        @include box(border-box);
        display: -webkit-box;
        border-bottom: 1px solid #d9d9d9;
        .sousuo-inner {
            height: pxToRem(56); //          line-height:pxToRem(56);
            background: #fff;
            border-radius: 3px/4px;
            -webkit-box-flex: 1;
            -webkit-box-flex-group: 1;
            padding: pxToRem(14) pxToRem(16);
            @include box(border-box);
            display: -webkit-box;
            span {
                display: block;
                width: pxToRem(36);
                height: pxToRem(28);
                line-height: pxToRem(22);
                -webkit-box-flex-group: 2;
                font-size: pxToRem(36);
                color: #e06464;
            }
            input {
                display: block;
                -webkit-box-flex: 1;
                -webkit-box-flex-group: 1;
                height: pxToRem(28);
                border: none;
                font-size: pxToRem(22);
            }
        }
        .brand {
            width: pxToRem(110);
            height: pxToRem(56);
            -webkit-box-flex-group: 2;
            margin-left: pxToRem(12);
            line-height: pxToRem(50);
            background: #fff;
            border-radius: 3px/4px;
            border: 1px solid #ff5b82;
            color: #ff5b82;
            text-align: center;
            @include box(border-box);
            font-size: pxToRem(22);
            font-family: $yh;
            span:first-child {
                font-size: pxToRem(30);
            }
        }
    }
    .noGoods {
        color: deeppink;
        font-size: pxToRem(40);
        text-align: center;
        width: 100%;
        padding: pxToRem(30) 0;
    }
    #wrapper {
        overflow: hidden;
        .single {
            display: inline-block;
            width: 40%;
            height: pxToRem(520);
            margin:pxToRem(40) 5% 0;
            .good_img {
                display: block;
                width: 100%;
                height: pxToRem(400);
                box-shadow: pxToRem(10) pxToRem(10) pxToRem(10) 0 #777;
            }
            .text {
                display: block;
                width: 100%;
                overflow: hidden;
                height: pxToRem(40);
                line-height:pxToRem(40);
                margin: pxToRem(20) 0;
                font-size: pxToRem(24);
                color: #333;
            }
            .price {
                float: left;
                font-size:pxToRem(24);
                color: #666;
                text-decoration: line-through;
            }
            .discount {
                float: right;
                font-size: pxToRem(24);
                color: #e00000;
            }
        }
    }
}