@import "reset.css";
@import "mobile";
@import "y-comm";
@import "../iconfont/iconfont.css";
html,body{
	height: 100%;
	width: 100%;

}
body{
	@include box();
	@include box_orient(vertical);
}
header{
	position: relative;
	@include box_flex(1);
	@include box_flex_group(2);
	height: pxToRem(96);
	width: 100%;
	background: #ad0006;
	text-align: center;

	h1{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: pxToRem(180);
		height: pxToRem(60);
		background: url("../img/y-logo.png") no-repeat 0 0;
		background-size: cover;
	}
	.msg{
		display: block;
		position: absolute;
		left: pxToRem(26);
		bottom: pxToRem(20);
		font-size: pxToRem(40);
		color: #fff;
	}
}
section{
	@include box_flex(1);
	.swiper-container{
		height: pxToRem(410);
		width: 100%;
	}
	.text{
		width: 100%;
		height: pxToRem(248);
		line-height: pxToRem(248);
		text-align: center;
		color: #fc5885;
		font-size: pxToRem(28);
		span{
			display: block;
			font-size: pxToRem(24);
			margin: 0 pxToRem(24);
			color: #ff84a5;
		}
	}
}
footer{
	@include box_flex(1);
	@include box_flex_group(2);
	height: pxToRem(100);
	width: 100%;
}